.container {
  position: relative;
  margin: 10%;
}

.name {
  position: absolute;
  bottom: -40px;
  left: 20px;
  font-size: 60px;
  color: brown;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio-heading {
  font-size: 50px;
}

.bio-text {
  margin: 10%;
  font-size: 30px;
  margin-top: -30px;
  color: grey;
}

.bio-icons {
  display: flex;
  gap: 40px;
}

.projects-heading {
  text-align: center;
  font-size: 50px;
}

.projects-container {
  display: grid;
}

.project {
  margin: 10%;
}

.projects-screenshot {
  color: white;
  padding: 50px;
  font-size: 30px;
  text-align: center;
}
.projects-info {
  border: 1px solid black;
  padding: 20px;
}
.projects-title {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.projects-description {
  font-size: 18px;
  color: grey;
}
.project-1 > .projects-screenshot {
  background-color: red;
}
.project-2 > .projects-screenshot{
  background-color: purple;
}
.project-3 > .projects-screenshot{
  background-color: pink;
}
.project-4 > .projects-screenshot{
  background-color: orange;
}
.project-5 > .projects-screenshot{
  background-color: purple;
}
.project-6 > .projects-screenshot{
  background-color: green;
}

.contact {
  background-color: skyblue;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.contact-heading {
  align-self: center;
  font-size: 40px;
  margin: 0;
}

.contact-invitation {
  font-size: 30px;
  margin: 0;
}

.contact-address {
  font-size: 20px;
}

.contact-contact-info {
  font-size: 20px;
}

.contact-icons {
  align-self: center;
  display: flex;
  gap: 40px;
}